*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18%;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
header .logo{
    height: 29px;
}
header .logo img{
    height: 100%;
    object-fit: contain;


}
header .search{
    width: 250px;
    background-color: rgba(239, 239, 239, 1);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px ;
}
header .search input{
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239, 239, 239, 1);
    padding-left: 10px;
    font-size: 15px;
    color: #8e8e8e;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-right: 20px;
}
header nav ul li a img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}
header nav ul li :last-child{
    margin-right: 0;
}
header nav ul li a i{
    font-size: 22px;
    color: rgba(38, 38, 38, 1);
}
/* body section */
section{
    padding: 30px 18%;
    background-color: #fafafa;
    display: flex;
}
.left_side{
    width: 65%;
}
.story{
    display: flex;
    padding: 16px;
    background: white;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 8px;
}
.story .stories{
    width: 12%;
}
.story .stories a img{
    border-radius: 50%;
    border: 2px solid  #c62d8f;
    padding:1px;
    object-fit: cover;
}
.story .stories p{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #262626;
    font-size: 12px;
    text-align: center;
}

/* POSTS */
.posts_total{
    margin: 15px 0;
    background-color: white;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 8px;
}
.posts .post_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.posts .post_title .post_left{
    display: flex;
    align-items: center;

}
.posts .post_title .post_left .post_icon{
    border-radius: 50%;
    object-fit: cover;
}
.posts .post_title .post_left .details .name{
    padding-bottom: 2px;
    font-weight: bold;
}

.posts_total .post_content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.posts_total .post_footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.posts_total .post_footer .like_share_comment i{
    font-size: 22px;
    margin-right: 15px;
}
.posts_total .post_footer .save i{
    font-size: 22px;
    margin-right: 5px;
}
.posts_total .post_footer_content{
    padding: 0 16px 16px 16px;
}
.posts_total .post_footer_content p{
    margin-bottom: 3px;
}
.posts_total .post_footer_content .liked{
    margin-bottom: 8px;

}
.posts_total .post_footer_content .name{
    font-weight: 600;

}
.posts_total .post_footer_content .name span{
    margin-left: 10px;
    font-weight: normal;
}
.posts_total .post_footer_content .post_time{
    font-size: 10px;
    margin-top: 6px;
    color: #6c6a6a;
}
.posts_total .post_footer_content .comment{
    margin-top: 10px;
    font-size: 14px;
    color: #6c6a6a;

}
.posts_total .comment_section{
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posts_total .comment_section .rightemoji{
    display: flex;
    align-items: center;
}
.posts_total .comment_section .rightemoji i{
    font-size: 22px;
    margin-right: 15px;
}
.posts_total .comment_section .rightemoji input{
    width: 100%;
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    font-size: 14px;
}
/* right side starts here */
.right_side{
    width: 35%;
    padding: 15px;
    position: fixed;
    right: 30px;
}
.right_side .profile_title{
    display: flex;
    align-items: center;
}
.right_side .profile_title .profile_left{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.right_side .profile_title .profile_left .pro_pic img{
    border-radius: 50%;
    margin-right: 40px;
}
.right_side .profile_title .profile_left .details .name{
    padding-bottom: 5px;
}
.right_side .profile_title .profile_right .switch_ac p{
    margin-left: 24px;
}

.suggestion{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.suggestion p{
    margin-right: 90px;

}
.suggestion_title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}
.suggestion_title .suggestion_left{
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.suggestion_title .suggestion_left .image img{
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}
.suggestion_title .suggestion_left .details .name{
    margin-bottom: 3px;
}
.suggestion_title .suggestion_right .follow{
    margin-left: 45px;
}




